@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.col{
 
  width: 33%;
  height: 100%;
  flex-direction: column;
  max-height: 60vh;

}

.square{
    border:2px solid blue;
    width: 100%;
    height: 33%;
    max-width: 30vh;
    max-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 18vw;
    
    font-size: 10.5vw
}


 .container {
   width: 50%;
 
// width: 75vw;
//  height: 75vw;
//   flex-direction: row;
//   flex-wrap: nowrap;


//  ;
 }
 .container:after {
   content: "";
  justify-self: center;
 align-self: center;

   padding-bottom: 100%;
 }

